body {
    margin: 0;
    background-color: rgb(216, 216, 216);
}

.menu2 {
    display: grid;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.price {
    color: rgb(246, 155, 155);
    padding: 10px;
    font-size: 20px;
    
}
.price:hover{
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 40px #ff0000;
    transition: all 1s;
    border: none;
    border-radius: 10px;
}

.f1 {
    text-decoration: none;
    color: gray
}

.f01 {
    text-decoration: none;
    color: wheat;

}

.f1:hover {
    color: white
}

.f0 {
    padding: 10px;

}

.footer {
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 50px;
    display: flex;

}

.boss {
    display: flex;
    justify-content: space-around;
}

.input {

    width: 200px;

}

.menu1 {
    padding: 30px;
    display: flex;
    background-color:  rgb(54, 54, 54);
    align-items: center;
    justify-content: space-between;

}

.item {
  
    font-size: 20px;
    color: white;

}

.item1 {
    padding: 30px;
    flex-direction: row-reverse;
    color: white;
}

.item1:hover {
    background-color: gray;
   
    
}

.anh {
    border-radius: 10px;
    border: none;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
    transition: all 1s;

}

.anh:hover {
    box-shadow: 0px 0px 40px #ffffff;
    scale: 1.05;
}



.anhcon2 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.anhcon2:hover {
    color: gray;
}

img {
    margin-top: 30px;
}
.icon {
    display: block;
  display: none;
    right: 30px;
    top: 30px;
    font-size: 30px;
}
#myLinks
{
    display: none;
}

.idea{
    font-size: 40px;
    padding-top: 40px;
    
}
.idea1{
    padding: 10px;
    width: 20%;
    border-radius: 1px solid rgb(216, 216, 216);;
}
.idea1:hover{
    color: #ffffff;
    background-color: black;
    
}
@media (max-width : 1100px) {
    .idea1{
        padding: 10px;
    width: 20%;
    color: #ffffff  ;
    font-size: 8px;

    }
    .idea1:hover{
        color: #000000;
        background-color: wheat;
        
    }
    .menu1> ul {
        display: none;
    }
    .icon {
        display: block;
    }

    .menu1 {
        display: flex;
        background-color:  wheat;
        align-items: center;
        justify-content: space-between;
    }

    .input {
        margin-top: 20px;
        width: 50%;
        padding: 5px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
   

    

    .footer {
        flex-direction: column;
        background-color: black;
    }

    .menu2 {
        grid-template-columns: 1fr 1fr;
    }
    body{
        margin: 0;
    background-color: black;
    }
    .idea{
       
  color: wheat;
    }
    .item{
        color: rgb(0, 0, 0);

    }
    a.item1{
        color: black;
    }
}



@media (max-width : 700px) {
    .menu2 {
        grid-template-columns: 1fr;
    }
}

.menu1 > ul > li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #fff;
}
ul
{
    margin: 0;
    padding: 0;
}
#myLinks > ul > li {
    padding: 0px 0px 13px;

}
#myLinks
{
    display: none;
    background:wheat;
    
}
.show
{
    display: block!important;
}
.none
{
    display: none;
    
}
